
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.a
build
slsv_cnc/src/Interface/Telnet/telnetpp
.vscode
*.so
slsv_cnc/bin/
slsv_cnc/lib
test_vectors/Tests/
test_vectors/pkTests/
test_vectors/AARG/*
test_vectors/AAPG/result/
test_vectors/AAPG_MOD
test_vectors/openocd
test_vectors/log.txt
docs/html
docs/latex
__pycache__
slsv_*.py
*_wrap.cxx
*.log
*.pyc
test_vectors/SpikeSVMonitorC/
test_vectors/c*.cfg
